@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090B;
  --foreground: #FAFAFA;
  --gunmetal-900: #131316;
  --gunmetal-800: #1C1C21;
  --gunmetal-700: #27272A;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--gunmetal-700);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3F3F46;
  }
}